#one{
    text-align: center;
}
.two{
    color: aqua;
}
p{
    border: 5px violet solid;
    margin: 20pt 30pt;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4sHpxVhbq-8rggwrVr86p-S-uqy7oIi9Llg&usqp=CAU");
}
li{
    list-style-type:lower-latin;
}
img{
    width: 500px;
    height: 400px;
}